
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --verydarkblue-mainBG: hsl(217, 54%, 11%); /*main BG*/
    --verydarkblue-cardBG: hsl(216, 50%, 16%); /*card BG*/
    --verydarkblue-line: hsl(215, 32%, 27%); /*line*/
    --white: hsl(0, 0%, 100%);
}

body {
    /*background-image: url(design/desktop-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh + 1px);
    font-family: 'Quicksand', sans-serif;
    background-color: var(--verydarkblue-mainBG);
}

.card {
    width: 243px;
    height: 418px;
    padding: 15px;
    background-color: var(--verydarkblue-cardBG);
    border-radius: 10px;
}

.card__image {
    width: 100%;
    border-radius: 5px;
}

.card__title {
    color: var(--white);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 93%;
    font-weight: 600;
}

.card__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-top: 18px;
}

.card__data--cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card__data--time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card__data--cost img {
    width: 12%;
    color: white;
}

.card__data--cost p {
    color: var(--cyan);
    margin-left: 1px;
    font-size: 70%;
}

.card__data--time img {
    width: 15%;
    width: 10px;
}

.card__data--time p {
    font-size: 70%;
    margin-left: 3px;
}

.line {
    border: 1px solid var(--verydarkblue-line);
}

.card__creator {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 13px;
}

.card__creator--image {
    width: 12%;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 12px;
}

.card__creator--name {
    font-size: 11px;
    font-weight: 300;
}

p {
    font-size: 12px;
    color: var(--soft-blue);
}

p b {
    color: var(--white);
}

/*
.attribution { 
    margin-top: 50px;
    font-size: 11px; text-align: center; 
    color: var(--white);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*/